@import "../../variables.modules.scss";

.permission {
  margin: auto;
  text-align: center;
}

.reports {
  margin: auto;
  text-align: center;
  text-align: -webkit-center;
}

.headings {
  font-size: x-large;
  margin: 20px;
}
